<link rel="stylesheet" href="/css/csvData.css" />

<title><%= title %></title>

<h2>CSV Data: <%= filename %></h2> 

<div>
  <input type="text" id="search-input" placeholder="Search...">
</div>
<hr>
<table class="csv-table">
    <thead>
        <tr>
          <% headers.forEach(function(column) { %>
            <th>
              <%= column %>
              <div>
                <button class="sort-btn asc"  data-column="<%= column %>">▲</button>
              </div>
            </th>
          <% }); %>
        </tr>
      </thead>      
  <tbody>
    <% data.forEach(function(row) { %>
      <tr>
        <% headers.forEach(function(column) { %>
          <td data-column="<%= column %>"><%= row[column] %></td>
      <% }); %>
      </tr>
    <% }); %>
  </tbody>
</table>

<script src="/js/csvData.js"></script>
